target/
dependency-reduced-pom.xml
dockerfiles/run/**/*.lib
dockerfiles/run/**/*.jar
dockerfiles/run/**/keystore
dockerfiles/run/**/glowroot
.m2
test-run.log
build
.project
**/.settings/
**/.classpath
**/.factorypath
james-server-app-3.5.0-app.zip
james-server-app-3.5.0
ansible-fixture/smtpserver.xml